<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Leonard Bernstein</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/leonard-bernstein.jpg" />
      <em class="apa-reference"><a href="https://www.classicfm.com/composers/bernstein-l/" target="_blank">Source</a></em>
    </div>
    <div class="col-sm-9">
      <p>Leonard Bernstein (1918–1990) was an American composer, conductor, author, music lecturer and pianist. His most well known pieces include the spectacular West Side Story, Candide and the Chichester Psalms.  <em class="apa-reference"><a href="https://www.classicfm.com/composers/bernstein-l/" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
