<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="colum">
      <div>
        <img src="./assets/david-weber.jpg"/>
      </div>
      <div>
        <em>
          Photo by Unknown on <a href="https://www.facebook.com/davidweberauthor/" target="_blank">Facebook</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">David Weber- The man behind Honor Harrington</h1>
    <p>
      David Weber (1952- ) started the Honorverse in April of 1992 with On Basilisk Station.
      He is skilled in making the reader believe that they are right watching the action, not as an observer, but as if they were a part of the action.
      Throughout the entire Honor Harrington Series, of which there are 14 books, you get to see Honor grow both as a person,
      but in her naval career. I won't tell you where she ends up, but you'll have to read the series for yourself.
      He does the pomp and circumstance of the British military justice.
    </p>
  </div>
</div>


<br/><br/><br/><br/>
<div fxLayout="column">
  <p style="text-align:center">
      For more information about David's Books visit his <a href="https://www.davidweber.net/" target="_blank">website!</a>
  </p>
</div>
