<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class="align-center">
      <p>42 Kangaroo Road</p>
      <p>Omaha, Nebraska</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class="align-center">
      <p>Direct: 554-124-4743</p>
      <p>Toll-Free: 1-877-124-4743</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br/><br/><br/><br/>
<div fxLayout="column">
  <p style="text-align:center">
      For more information about David's Books visit his <a href="https://www.davidweber.net/" target="_blank">website!</a>
  </p>
</div>
